.modal-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100vw;
    height: 100vh;

    background: none 0 0 / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0.31);

    transform: translateY(-100vh);

    &.contact {
        transition: all 0.5s ease-out;
    }

    &.show {
        transform: translateY(0);
    }
}
